body{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 0px;
}
body>div{
    border: 2px solid blue;
    display: flex; flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 20px;
}
body>div>*:not(p){
    list-style: none;
    padding: 5px 15px;
    margin: 20px 20px;
    border: 1px solid blue;
    width: 100%;
}
#setupdesc{
    box-sizing: border-box;
    padding: 5px 25px; width: 100%;
}
#addquestion, .upanddown{
    float: right;
}
#questionslist{
    border: none;
}
#after{
    width: -webkit-fill-available; border: 1px solid blue;
    border-radius: 0;
}
#setup{display: nne}
li, label{
    border: thin solid blue;
    margin-bottom: 10px;
    display: flex;
    gap: 10px; padding: 10px 15px;
    padding-right: ;
    background: aliceblue;
    align-items: center;
    justify-content: space-evenly;
}
#voicechoices{
    display: flex;
    padding: 5px; margin: 10px;
    border: 1px solid blue;
}
#shouldusevideo{scale: 3}
#setup #ondout{margin: ;padding: 10px 5px}
#voicechoices>label{
    align-self: end; 
}
#voicechoices input{
    scale: 1.5; border: 1px solid blue;
}
#voiceschoices h4{align-self: }
button{
    background: #0078d4;
    color: white; border-color: aliceblue;
    width: 40px; height: 40px; cursor: pointer
}
button:hover{
    background: blue
}
button:active{
    background: #0019a1
}
button:focus{
    border-color: #bcdbf4;
    outline-color: gray;
}
.upanddown{
/*     position: absolute; */
    display: flex;
    flex-flow: column;
}
.upanddown>button{
    width: 30px; height: 20px
}
span, #questionslist input{
    padding: 5px;
    background: #0000000a;
    border: 1px dotted;
}
.question{
    border: none;/* width: -webkit-fill-available;*/
    border-bottom: 1px solid blue;
    width: 40vw; text-overflow: ellipsis; overflow: hidden;
    height: 1em;
}
.question:focus{
     outline: 1px solid blue
}
#startbutton{
    width: 70%;
}

/* interview */
#embassy{
    width: -webkit-fill-available;
    padding: 30px
}
#you{
    display: flex;
    flex-flow: column;
    width: 100%; align-items: center;
    justify-content: center;
}
/* #setup{display: none;} */
#embassy{display: none}
#you>*{
    border: 1px solid blue;
    width: 100%; margin: 5px; padding: 10px 7px;
}
#answerbox{
    font-size: 1.3em; color: darkblue
}

video{
    width: 70vw; height: 70vh;
}
#interviewbox{
    display: flex;
    flex-flow: column;
    align-items: center;
}
#controls>*{
    width: fit-content;
}
table{
    border: 2px solid blue; padding: 20px;
}
td, th{
    border: 1px solid blue; padding: 10px;
    margin: 3px;
}
th{color: darkblue; text-align: -webkit-auto;}
[disabled]{filter: grayscale(1)}
#responseHolder, #refresher, #responses{display: none;}
#respdesc{
    color: #0055bc; font-size: 1.3em; text-align: center;
}
#errors{color: red}
#refresher{width: fit-content; text-transform: uppercase}
@media screen and (max-width: 980px){
    body{
        font-size: 2em
    }
    button{font-size: 1em; height: fit-content}
}

    /* loading */
#loading, #loading:before{
    width: 80px;
    height: 80px;
    border: none;
    position: fixed;
/*     display: none; */
    top: calc(50vh - 40px);
    left: calc(50vw - 40px); z-index: 199;
    margin: 0;
}
#loading:before{
    content: '';
    width: 1000%; height: 1000%;
    top: 0; left: 0; border-radius: 0;
    background: rgb(0 0 0 / 60%);
}
body #loading>div{
    width: 20px; height: 20px; border: none; background: white;
    top: 0; left: calc(50% - 10px);var(--x); position: absolute;
animation: blink 1s cubic-bezier(0, 0, 1, -0.12) infinite;
    opacity: 0; z-index: 200; border-radius: 40px;
        padding: 0; margin: 0;
}
@-webkit-keyframes blink{
    0%{opacity: 1}
    50%{opacity: 0}
}
#c0{transform: translate(0px, 0px);}
#c1{transform: translate(20px, 11px);}
#c2{transform: translate(30px, 30px)}
#c3{transform: translate(20px, 50px)}
#c4{transform: translate(0px, 60px)}
#c5{transform: translate(-20px, 50px)}
#c6{transform: translate(-30px, 30px)}
#c7{transform: translate(-20px, 11px);}
/* end loading */