/* General */
*{
    transition: 0.1s;
    clear: both;
    /* VARIABLES */
    --color: lightblue;
    --b: 1px solid var(--color);
    --usevideo: flex;
    /* end VARIABLES */
}

body{
    font: 1.4rem math;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    margin: 30px;
}

[disabled]{
    filter: blur(1px) grayscale(.5);
}

/* buttons  */
button, .say{
    color: var(--color);
    background: transparent;
    font-size: 0.8em;
    border: thin lightblue;
    padding: 5px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-transform: uppercase;
    /* box-sizing: content-box; */
}

button:hover, button:active{
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 0.8em;
}
button:active{
    background-color: var(--color);
    color: white;
}

/* icon buttons */
.icon{
    width: 2em;
    height: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon:hover, .icon:focus, .icon:active{
    padding: 0;
    border-radius: 1em;
}
/* end icon buttons */

/* major buttons */
.major{
    background: var(--color);
    color: white;
    font-size: 1em;
    border-radius: 0.5em;
    padding: 10px 20px;
    margin: 5px;
}
.major:hover, .major:active{
    padding: 10px 20px;
    background-color: blue;
    border-radius: 0.5em;
}
.major:active{
    background-color: rgb(0, 0, 127);
}
/* end major buttons */

/* end buttons */

/* input text */
[type="text"]{
    padding: 7px;
    border: none;
    border-bottom: var(--b);
    border-width: 2px;
    width: fit-content;
    color: gray;
    font-size: 0.9em;
}
[type="text"]:hover{
    border-color: blue
}
[type="text"]:active, [type="text"]:focus{
    border-color: darkblue;
    outline: none;
}
/* end input text */

/* More specific general */
#REFRESHER{
    position: absolute;
    float: right;
    align-self: flex-end;
}

h2{
    border-bottom: var(--b);
    margin: 0;
    padding: 5px;
}

#ERRORS{
    color: darkred;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1em;
}

/* LOADING */
#LOADING, #LOADING:before{
    width: 80px;
    height: 80px;
    border: none;
    position: fixed;
    top: calc(50vh - 40px);
    left: calc(50vw - 40px); z-index: 199;
    margin: 0;
}
#LOADING:before{
    content: '';
    width: 1000%;
    height: 1000%;
    top: 0;
    left: 0;
    border-radius: 0;
    background: rgb(0 0 0 / 60%);
}
#LOADING>div{
    width: 16px;
    height: 16px;
    border-radius: 32px;
    padding: 0;
    margin: 0;
    border: none;
    background: white;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    opacity: 0;
    z-index: 200;
    animation: blink 0.8s cubic-bezier(0, 0, 1, -0.12) infinite;
}
@keyframes blink{
    0%{opacity: 1}
    50%{opacity: 0}
}
#c0{transform: translate(0px, 0px);}
#c1{transform: translate(20px, 11px);}
#c2{transform: translate(30px, 30px)}
#c3{transform: translate(20px, 50px)}
#c4{transform: translate(0px, 60px)}
#c5{transform: translate(-20px, 50px)}
#c6{transform: translate(-30px, 30px)}
#c7{transform: translate(-20px, 11px);}
/* end LOADING */

/* INTERVIEW CONTROLS */
#CONTROLS{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
#CONTROLS>button, .say{
    border-right: var(--b);
    gap: 0px
}
.say>*{
    gap: 0px;
    margin: 0;
    font-size: 1em;
}
#CONTROLS select{
    padding: 2px 15px 2px 10px;
    background-color: var(--color);
    color: white;
    border: none;
    border-radius: 0.2em;
    /* margin-left: 0.5em; */
    width: 1em;
    cursor: pointer;
    /* transform: scaleX(-1); */
    /* width: 1em; */
    /* display: none; */
}
#CONTROLS select:active{
    background-color: blue;
}
select:active, select:focus{
    outline: none;
}
#CONTROLS option{
    text-transform: uppercase;
    border-radius: 1em;
    padding: 51px;
}
#CONTROLS option:hover{
    background-color: red;
}
/* end INTERVIEW CONTROLS */

/* end More specific general */

/* end General */

/* SETUP SCREEN */
#SETUPDESC{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--b);
}
/* #SETUPDESC>span{
    border-bottom: var(--b);
} */
#ADDQUESTION{
    font-size: 1em;
}
#QUESTIONLIST{
    display: flex;
    flex-flow: column;
    gap: 5px;
    list-style-type: symbols(1,2,3);
    list-style-position: outside;
}

#QUESTIONLIST>li{
    /* display: flex; */
    flex-flow: row;
    /* gap: 5px; */
    align-items: center;
    position: relative;
    /* border-bottom: var(--b); */
}
#QUESTIONLIST>li [type="text"]{
    /* justify-self: flex-start; */
    display: inline-block;
    width: 70%;
}
*{
    --x: #QUESTIONLIST>li span;
}
--x{
    display: none;
    color: red;
}
#QUESTIONLIST>li button{
    float: right; clear: none;
    /* display: none; */
}
#SHOULDVIDEO{
    display: flex;
    gap: 10px;
    align-items: center;
}
.switchold{
    width: 2em;
    height: 1em;
    display: flex;
    flex-flow: row;
    justify-content: end;
    border-radius: 40px;
    border: var(--b);
    border-width: 3px;
    align-items: center;
    padding: 2px;
}
.switchold.off{
    justify-content: start;
    background-color: black;
}
.switch{
    background-color: lightblue;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    cursor: pointer;
}
.switch:hover{
    filter: drop-shadow(2px 4px 6px black);
}
/* end SETUP SCREEN */

/* VIDEOINTERVIEW SCREEN */
/* end VIDEOINTERVIEW SCREEN */

/* TEXTINTERVIEW SCREEN */
/* end TEXTINTERVIEW SCREEN */



/* VIDEORESPONSE SCREEN */
/* end VIDEORESPONSE SCREEN */


/* TEXTRESPONSE SCREEN */
/* end TEXTRESPONSE SCREEN */





/*
Do a 'share interview' feature.
save all questions to a json,
save voice
save voice settings

or save in queries that can be read (will be too long)

or reroute by bitly


*/