/* General */
*{
    transition: .2s;
    clear: both;
    /* VARIABLES */
    --color: lightblue;
    --b: 1px solid var(--color);
    --usevideo: flex;
    /* end VARIABLES */
}

body{
    font: 1.4rem math;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    margin: 30px;
}

button{
    color: var(--color);
    background: transparent;
    font-size: 1rem;
    border: thin lightblue;
    padding: 5px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

button:hover, button:active{
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 1em;
}
[disabled]{
    filter: blur(1px) grayscale(.5);
}

[type="text"]{
    padding: 7px;
    border: none;
    border-bottom: var(--b);
    border-width: 2px;
    width: fit-content;
    color: gray;
    font-size: 0.7em;
}
[type="text"]:hover{
    border-color: blue
}
[type="text"]:active, [type="text"]:focus{
    border-color: darkblue;
    outline: none;
}

/* More specific general */
#REFRESHER{
    position: absolute;
    float: right;
    align-self: flex-end;
}

h2{
    border-bottom: var(--b);
    margin: 0;
    padding: 5px;
}

#ERRORS{
    color: darkred;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1em;
}

/* LOADING */
#LOADING, #LOADING:before{
    width: 80px;
    height: 80px;
    border: none;
    position: fixed;
    top: calc(50vh - 40px);
    left: calc(50vw - 40px); z-index: 199;
    margin: 0;
}
#LOADING:before{
    content: '';
    width: 1000%;
    height: 1000%;
    top: 0;
    left: 0;
    border-radius: 0;
    background: rgb(0 0 0 / 60%);
}
#LOADING>div{
    width: 16px;
    height: 16px;
    border-radius: 32px;
    padding: 0;
    margin: 0;
    border: none;
    background: white;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    opacity: 0;
    z-index: 200;
    animation: blink 0.8s cubic-bezier(0, 0, 1, -0.12) infinite;
}
@keyframes blink{
    0%{opacity: 1}
    50%{opacity: 0}
}
#c0{transform: translate(0px, 0px);}
#c1{transform: translate(20px, 11px);}
#c2{transform: translate(30px, 30px)}
#c3{transform: translate(20px, 50px)}
#c4{transform: translate(0px, 60px)}
#c5{transform: translate(-20px, 50px)}
#c6{transform: translate(-30px, 30px)}
#c7{transform: translate(-20px, 11px);}
/* end LOADING */


/* end More specific general */

/* end General */

/* SETUP SCREEN */
#questionslist{
    display: flex;
    flex-flow: column;
    gap: 5px;
    list-style-type: armenian;
}

#questionslist>li{
    /* display: flex; */
    gap: 5px;
}

#questionslist>li button, #setupdesc button{
    width: 30px;
    height: 30px;
    float: right;
    font-size: 1.2rem;
}

/* end SETUP SCREEN */

/* VIDEOINTERVIEW SCREEN */
/* end VIDEOINTERVIEW SCREEN */

/* TEXTINTERVIEW SCREEN */
/* end TEXTINTERVIEW SCREEN */



/* VIDEORESPONSE SCREEN */
/* end VIDEORESPONSE SCREEN */


/* TEXTRESPONSE SCREEN */
/* end TEXTRESPONSE SCREEN */





/*
Do a 'share interview' feature.
save all questions to a json,
save voice
save voice settings

or save in queries that can be read (will be too long)

or reroute by bitly


*/